# QL packet fragmentation collector configuration
INTERFACE=enp1s0
PORTS=27960-27962
INTERVAL=10
REDIS_URL=redis://localhost:6379/3
RATE_SETTING=99k
INFLUX_URL=http://127.0.0.1:8086
INFLUX_ORG=ql
INFLUX_BUCKET=ql_packet_fragmentation
INFLUX_TOKEN_FILE=/opt/ql-packet-fragmentation/secrets/influxdb-token
